@import "tailwindcss";

.logo {
  width: 100px;
  height: auto;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  gap: 20px;
  list-style-type: none;
  padding: 0;
}